.wrapper {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.photo-wrapper {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border: 5px aliceblue solid;
}

.image {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 290px;
    max-height: 290px;
}

.image:hover {
    transform: scale(1.03);
    transition-duration: 0.3s;
}

@media only screen and (max-width:760px)
{
    .photo-wrapper {
        width: 200px;
        height: 200px;
    }

    .image {
        max-width: 190px;
        max-height: 190px;
    }
}

@media only screen and (max-width:450px)
{
    .photo-wrapper {
        width: 150px;
        height: 150px;
    }

    .image {
        max-width: 140px;
        max-height: 140px;
    }
}

