/**** Cart summary ****/
.cart-summary {
    font-family: monospace;
    font-size: small;
    text-align: center;

    max-width: 500px;
    padding: 20px;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.cart-summary p {
    margin: 0;
}

.cart-summary-hr {
    border: none;
    height: 2px;
    background: repeating-linear-gradient(90deg,#000,#000 8px,transparent 8px,transparent 16px);
}

.cart-summary-item {
    font-size: larger;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart-summary-item-name {
    text-align: left;
}

.cart-summary-item-price {
    text-align: right;
}

.cart-summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary-sum {
    font-size: x-large;
    font-weight: bold;
}

.cart-summary-pay {
    font-size: large;
    font-weight: bold;
}
