.wrapper {
    margin-top: 3rem;
}

.form {
    margin-top: 2rem;
}

.group  {
    margin-top: 2rem;
}

.prep {
    width: 5.5rem;
}

.pplCnt {
    margin-right: 1rem;
    font-size: larger;
}

.submit {
    margin-top: 2rem;
}
