.services-container p {
    max-width: 700px;
    margin: auto;
}

.service-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-image {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.service-image:hover {
    transform: scale(1.03);
    transition-duration: 0.3s;
}

.services-container table {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: left;
    font-size: smaller;
}

.services-container td,tr {
    border: 1px solid black;
    padding: 5px;
}

.services-container td:nth-child(2) {
    text-align: center;
}

.services-container tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

/*** Service Filters ***/
.service-filters {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.service-filter-active {
    -moz-box-shadow: 0px 0px 8px 7px #91c4de;
    -webkit-box-shadow: 0px 0px 8px 7px #91c4de;
    box-shadow: 0px 0px 8px 7px #91c4de;
}

.service-filters-item {
    max-width: 300px;
    background-color: #d8d8d6 !important;
}

.service-filters-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
}

.service-filters-item-text span {
    text-align: center;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
}
