.header {
    margin-top: 2rem;
}

.subtitle {
    margin-top: 1rem;
    opacity: 0.75;
}

.subsubtitle {
    font-size: medium;
    opacity: 0.5;
}

.phone-header {
    font-variant-caps: small-caps;
    text-align: center;
}

.phone-number {
    font-size: larger;
    text-align: center;
}

.content-col {
    margin-bottom: 1rem;
}
