.menu {
    margin: auto;
    margin-top: 2rem;
}

.header-row {
    width: 100%;
    text-align: center;
}

.lang-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
