.nav-bar-container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    border: none;
}

.nav-bar-container .nav-link {
    flex:1 1 auto;
    background-color: #d8d8d6;
    max-width: 250px;
}

.arp-link {
    flex: none !important;
}

.arp-icon {
    height: 1rem;
}

.flex-title-item-text {
    font-size: smaller;
    color: #000;
}
