.text {
    margin-top: 2rem;
    background-color: #d8d8d6;
}

.img-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.img-container img {
    display: block;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.hashtags {
    color: rgb(96, 96, 255);
    cursor: default;
}

.hashtags p {
    max-width: 500px;
    margin: auto;
}

.snowfall {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
